@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dynamisch geladene Erweiterung";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hier werden einige Dinge angezeigt. Somit können wir auch eine Erweiterung ausgeben.</p>

