*.dll
*.pdb
*.cache
*.suo
*.suo
*.cache
*.suo
*.suo
/Samples Web/MEF goes MVC/ThirdPlugIn/obj/Debug
/Samples Web/MEF goes MVC/.vs/Supercharger
/Samples Web/MEF goes MVC/ContainerApplication/Extensions/ThirdPlugIn
/Samples UWP/ClassLibrary1/.vs/Supercharger/ClassLibrary1
/Samples Web/SelfhostingWebAPI/.vs/Supercharger/SelfhostingWebAPI
/Samples Web/SelfhostingWebAPI/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/Samples Web/SelfhostingWebAPI/packages/Microsoft.AspNet.WebApi.Core.5.2.3
/Samples Web/SelfhostingWebAPI/packages/Microsoft.AspNet.WebApi.Owin.5.2.3
/Samples Web/SelfhostingWebAPI/packages/Microsoft.AspNet.WebApi.OwinSelfHost.5.2.3
/Samples Web/SelfhostingWebAPI/packages/Microsoft.Owin.3.0.1
/Samples Web/SelfhostingWebAPI/packages/Microsoft.Owin.Host.HttpListener.3.0.1
/Samples Web/SelfhostingWebAPI/packages/Microsoft.Owin.Hosting.3.0.1
/Samples Web/SelfhostingWebAPI/packages/Newtonsoft.Json.9.0.1
/Samples Web/SelfhostingWebAPI/SelfhostingWebAPI/bin/Debug
/Samples Web/SelfhostingWebAPI/SelfhostingWebAPI/obj/Debug
