<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbLINQSamplesEntities" connectionString="metadata=res://*/Data.UserManagement.csdl|res://*/Data.UserManagement.ssdl|res://*/Data.UserManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=dbLINQSamples;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>