@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
    ViewBag.Title = "Dynamisch geladene Erweiterung";
}

<p>Das ist eine Teilansicht, die aus einem über MEF angebundenen Controller kommt</p>
